.ant-layout{
  height: calc(100% - 40px);
  .ant-layout-sider{
    min-width: auto !important;
    flex: 0 !important;
    width: 60px !important;
  }
  .ant-menu-item{
    padding: 0 10px;
    i{
      font-size: 26px;
    }
  }
}
